In [16]:
import os
import pandas
import ibm_db # API

from dotenv import load_dotenv # Hide credentials
from pathlib import Path # For path to env file

In [2]:
env_path = Path('C:/Users/chanm/Desktop/PyIBM_database') / '.env'
load_dotenv(dotenv_path = env_path) # Access .env file with credentials

dsn_hostname = os.getenv('Db2Hostname')
dsn_uid = os.getenv('Db2Username')
dsn_pwd = os.getenv('Db2Password')

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"           
dsn_port = "50000"                
dsn_protocol = "TCPIP"

### Connecting to Database

In [3]:
# Creating DB2 database connection
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [4]:
# Establish connection
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  vdc82550 on host:  dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net

In [5]:
# Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [6]:
# Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.05.0400
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

### Creating a Table in the Database

In [7]:
# Drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "DROP TABLE INSTRUCTOR"

# Execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [9]:
# Construct the Create table DDL statement
createQuery = "CREATE TABLE INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHARACTER(2))"

# Excute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

### Inserting data into the table

In [10]:
# Construct insert statement
insertQuery = "INSERT INTO INSTRUCTOR VALUES (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

# Execute Statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [11]:
insertQuery2 = "INSERT INTO INSTRUCTOR VALUES (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

### Query data from table

In [12]:
# Construct Select statement
selectQuery = "SELECT * FROM INSTRUCTOR"

# Execute statment
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

# Fetch the Dictionary (first row only)
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [13]:
# Fetch the rest of the rows
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

### Retrieving data into Pandas

In [17]:
import ibm_db_dbi

In [18]:
# Create connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [19]:
# Retrieve query results into pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

# Print entire dataframe
pdf

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  TORONTO    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US

In [20]:
# Print just the LNAME for the first row in the pandas dataframe
pdf.LNAME[0]

'Ahuja'

In [21]:
# Close connection to free resources
ibm_db.close(conn)

True